<templates>


  <nav t-name="Navbar" class="navbar navbar-expand-lg navbar-light bg-light" t-on-collapse-menu="collapseMenu" >
      <a class="navbar-brand" href="#">uPy</a>

      <!--<MobileMenu t-if="env.isMobile" />-->
      <MobileMenu/>

      <div class="navbar-collapse" id="navbarNav"  t-att-class="state.collapse ? 'collapse' : ''" >
          <ul class="navbar-nav item_list">
              <t t-foreach="visibleMenu" t-as="menu">
                  <li class="nav-item" t-att-menu-id="menu.id" t-key="menu.name" t-att-class="state.active_menu === menu.key ? 'active' : ''">
                      <a class="nav-link" href='#' t-on-click.prevent="toggleMenu(menu.key)"><span class="menu_text"><t t-esc="menu.name"/></span></a>
                  </li>
            </t>
          </ul>
        </div>
  </nav>


  <div t-name="ControlPanel" class="controlpanel">
    <h2>Control Panel</h2>
  </div>

    <footer t-name="Footer" class="bg-secondary text-white mt-4">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-3">
                    <h5>Footer</h5></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-6">I stay at the bottom of the viewport!
                    <span class="small"> <br/> Unless the page content pushes me further.</span>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3 text-right small align-self-end">Upy Board.</div>
            </div>
        </div>
    </footer>


  <t t-name="MobileMenu">

        <button class="navbar-toggler" type="button"
                t-on-click="toggle"
                data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">

          <span class="navbar-toggler-icon collapse_menu"/>
      </button>
  </t>


    <div t-name="Screen" class="bg-light text-dark mt-4">
        <div class="screen">

            <t t-log="menuText.name"/>
            <h1 class="text-center "><t t-esc="menuText.name"/></h1>
            <div class="container">

            </div>

        </div>
    </div>



  <div t-name="App" class="app" t-att-class="{mobile: env.isMobile, desktop: !env.isMobile}">
      <Navbar/>
<!--  <ControlPanel active_menu="state.active_menu"/>-->

<!--      <t t-component="ChildComponent{{id}}" active_screen="state.active_screen"/>-->

<!--      <t t-ref="state.active_screen"/>-->
<!--      <t t-component="{{state.screen}}" active_screen="state.active_screen"/>-->

<!--      <t t-component="Home" active_screen="state.active_screen"/>-->

<!--<t t-component="ChildComponent{{id}}" active_screen="state.active_screen"/>-->
      <Screen active_screen="state.active_screen"/>
<!--  <StatuslPanel/>-->

      <Footer/>
  </div>

  </templates>